<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      {% block content %}
        <form method="post">
          {% csrf_token %}
          <table>{{ form }}</table>
          <input type="submit" value="Login" class="button">
        </form>
      {% endblock %}

      <div class="signup">
          <span class="signup">Don't have an account?
           <a href="{% url 'registration'%}">Sign up</a>
          </span>
      </div>
    </div>
</div>
</body>

</html>

