<!DOCTYPE html>
<html>
<head>
  <title>Travel App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="container">

            <a href="#" class="logo">Travel App</a>
            <ul>
              <li><a href="{% url 'home'%}">Home</a></li>
              <li><a href="{% url 'login'%}">Login</a></li>
              <li><a href="{% url 'country_read'%}">Countries</a></li>
              <li><a href="{% url 'place_read'%}">Places</a></li>
              <li><a href="{% url 'place-search'%}">Search</a></li>
              <li><a href="{% url 'rate'%}">Rating</a></li>
            </ul>

      </div>
    </nav>
  </header>
<body>
<div class="container">
    <div class="destination-card">
        <table class="center">
            <tr>
                <th scope="col"> Country </th>
                <th scope="col"> Desctription </th>
                <th scope="col"> Capital city </th>
                <th scope="col"> Language </th>
                <th scope="col"> Currency </th>
            </tr>
            <tr>
        {% for country in dane %}
<!--                <td> {{country.id}} </td>-->
                <td> {{country.name_country}} </td>
                <td> {{country.desctription}} </td>
                <td> {{country.capital_city}} </td>
                <td> {{country.language}} </td>
                <td> {{country.currency}} </td>
                <td><a class="btn_small" href="{% url 'country_update' pk=country.pk  %}"> CHANGE </a></td>
                <td><a class="btn_small" href="{% url 'country_delete' pk=country.pk  %}"> DELETE </a></td>
            </tr>
            {% endfor %}

        </table>
        </div>
    </div>
</body>
    <footer>
    <div class="container">
      <p>&copy; 2023 Travel App. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>