<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th scope="col"> Place </th>
        <th scope="col"> Desctription </th>
        <th scope="col"> Country </th>
    </tr>
    <tr>
{% for place in dane %}
        <td> {{place.id}} </td>
        <td> {{place.name_place}} </td>
        <td> {{place.description_place}} </td>
        <td> {{place.country}} </td>
        <td><a href="{% url 'like_place' place_id=place.pk  %}">LIKE!</a></td>
        <td><a href="{% url 'rating' place_id=place.pk  %}">RATE!</a></td>
        <td><a href="{% url 'comment' place_id=place.pk  %}">COMMENT!</a></td>
    </tr>
    {% endfor %}

</table>
</body>
</html>