<!DOCTYPE html>
<html>
<head>
  <title>Travel App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="container">
            <img src="{% static 'images/logo.png' %}" alt="" height="100">
            <br><br>
            <a href="#" class="logo">Travel App</a><br><br>
            <ul>
              <li><a href="{% url 'home'%}">Home</a></li>
              <li><a href="{% url 'login'%}">Login</a></li>
              <li><a href="{% url 'country_read'%}">Countries</a></li>
              <li><a href="{% url 'place_read'%}">Places</a></li>
              <li><a href="{% url 'place-search'%}">Search</a></li>
              <li><a href="{% url 'rate'%}">Rating</a></li>
            </ul>

      </div>
    </nav>
  </header>
<body>
<div class="container">
    <header>Travel Search</header>
    <div class="destination-card">
    <form method="post" action="{% url 'place-search' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Search</button>
    </form>
    </div>
    </div>
    <div class="container">
        <header>Results</header>
        <div class="destination-card">
        {% if results %}
            <ul style="list-style-type:none;">
                {% for place in results %}
                    <li>{{ place.name_place }} ({{ place.country.name_country }})</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        </div>
  </div>
</div>
    <footer>
    <div class="container">
      <p>&copy; 2023 Travel App. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>

