<!DOCTYPE html>
<html>
<head>
  <title>Travel App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="container">

            <a href="#" class="logo">Travel App</a>
            <ul>
              <li><a href="{% url 'home'%}">Home</a></li>
              <li><a href="{% url 'login'%}">Login</a></li>
              <li><a href="{% url 'country_read'%}">Countries</a></li>
              <li><a href="{% url 'place_read'%}">Places</a></li>
              <li><a href="{% url 'place-search'%}">Search</a></li>
              <li><a href="{% url 'rate'%}">Rating</a></li>
            </ul>

      </div>
    </nav>
  </header>
<body>
<div class="container">
    <div class="destination-card">
    <h1>Travel Search</h1>
    <form method="post" action="{% url 'place-search' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if results %}
        <h2>Results</h2>
        <ul>
            {% for place in results %}
                <li>{{ place.name_place }} ({{ place.country.name_country }}) - ({{ place.category }})</li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
</div>
    <footer>
    <div class="container">
      <p>&copy; 2023 Travel App. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>

